.main-grid{
  display: grid;
    background: black;
    grid-template-columns: 50% 50%;
}

#right-body {
  display: grid;
  color: black;
  grid-template-rows: 15% 15% 30% 20% 20%;
}

#right-body p {
  justify-content: end;
  color: white;
}

#right-body p:hover {
  font-size: 40px;
}
